html {
		scrollbar-width: 40% !important;
}

dialog {
	border-radius: 8px;
	border-color: #00000000;

}

.navbar {
		display: flex !important;
		background-color: #48C78E !important;
}

.navbar-menu {
		flex-grow: initial !important;
		flex-shrink: initial !important;
}

.navbar, .navbar-brand {
    height: max-content !important;
}

.navbar-center {
	display: flex !important;
    align-self: center;
    z-index: 200;
    margin: 0 auto;
}

.navbar {
    width: 100% !important;
    align-content: center !important;
}

.logo {
	font-family: cookie;
	pointer-events: none !important;
	-webkit-user-select: none; 
	-ms-user-select: none;
	user-select: none;
}

.nodisplay {
	display : none !important;
}
