.w-auto {
	width: auto;
}

.w-20 {
	width: 20%;
}

.w-40 {
	width: 40%;
}

.w-60 {
	width: 60%;
}

.w-80 {
	width: 80%;
}

.w-100 {
	width: 100%;
}

.h-auto {
	height: auto;
}

.h-20 {
	height: 20%;
}

.h-40 {
	height: 40%;
}

.h-60 {
	height: 60%;
}

.h-80 {
	height: 80%;
}

.h-100 {
	height: 100%;
}

.invisible {
	display: none;
}
